{% extends 'main/base.html' %}

{% block title %}
Help page

{% endblock %}

{% block header %}
<nav class="col-md-12 text-end">
    <a type='text'> If you want to help -></a>
    <a type="button" class="btn btn-primary" href="{% url 'register' %}">Sign up</a>
</nav>
{% endblock %}

{% block info %}
    <h1>We can help you</h1>
    {% for item in post %}
        <div class='alert alert-warning mt-2'>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p><br>
            <div class="container">
                <p> - {{ item.name }} {{ item.surname }}</p>
                <p> - Telephone number: {{ item.telephone_number }}</p>
                <p> - City: {{ item.city }}</p>
                <div align="left">
                <img src="{{ item.image.url }}" class="rounded float-left" width="500" height="600"  position="relative">
                    </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
