{% extends 'main/base.html' %}

{% block title %}
Help page

{% endblock %}

{% block header %}
<nav class="col-md-12 text-end">
    <a type='text'> If you want to help -></a>
    <a type="button" class="btn btn-primary" href="{% url 'register' %}">Sign up</a>
</nav>
{% endblock %}

# TODO: ADD CAROUSEL BOOTSTRAP

{% block info %}
    {% for item in post %}
        <div class='alert alert-dark mb-3'>
            <img src="{{ item.image.url }}" class="rounded float-left"
                 width="15.7%" align="right" id="image">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p><br>
            <div class="container">
                <p><b>- Name: </b> {{ item.name }}</p>
                <p><b>- Surname: </b> {{ item.surname }}</p>
                <p><b>- Telephone number: </b> {{ item.telephone_number }}</p>
                <p><b>- City: </b> {{ item.city }}</p>

            </div>
        </div>

    {% endfor %}
{% endblock %}
