{% extends 'main/base.html' %}

{% block title %} Registration {% endblock %}

{% block info %}
    <h1>Enter the fields</h1>
    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="name">Name</span>
            </div>
        {{ form.name }}<br>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="surname">Surname</span>
            </div>
        {{ form.surname }}<br>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="telephone_number">Telephone number</span>
            </div>
        {{ form.telephone_number }}<br>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="title">Title</span>
            </div>
            {{ form.title }}<br>
        </div>

        <div class="input-group-prepend">
            <span class="input-group-text" id="description">Description</span>
        </div>
        {{ form.description }}<br>

  <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="city">City</span>
            </div>
            {{ form.city }}<br>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="key_help_words">Key words</span>
            </div>
            {{ form.key_help_words }}<br>
        </div>

        <div class="input-group mb-3" id="image">
            {{ form.image }}<br>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>

{% endblock %}

